<div class='container px-5 px-sm-0'>
 <div class='row'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   <br></br>
   <h1>about</h1>
   <br></br>
   <strong>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
   お⼦様からお年寄りの⽅までお召し上がりいただけるよう、<br>
   様々なバリエーションをご⽤意しております。<br>
   また、全国へ発送可能ですので「いつ」でも「どこ」でも<br>
   ご注⽂いただけます。ぜひご注⽂ください。</strong>
  </div>
 </div>
</div>