<div class='container'>
 <div class='row'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
   <br></br>
   <h1>注文完了画面</h1>
   <br></br>
   <strong>ご注文ありがとうございました</strong>
  </div>
 </div>
</div>